@import '../../assets/styles/style-variables.less';

.book-grid {
  display: grid;
  grid-row-gap: 15px;
}

.book-details {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
  justify-content: center;
  place-items: center;
  text-align: center;
}

.no-favourites {
  display: grid;
  grid-gap: 15px;
  padding: 20px;
  width: fit-content;
  justify-content: left;
  border: 2px dashed rgb(165, 165, 165);
  border-radius: 10px;
}

.book-card {
  background-color: whitesmoke;
  display: grid;
  padding: 10px;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
}

.book-img {
  height: 80px;
}

.matches {
  background-color: @color-secondary;
  display: grid;
  padding: 20px;
  justify-content: left;
  grid-gap: 15px;
}

.match-card {
  display: grid;
  grid-template-rows: repeat(2, auto);
  box-shadow: 1px 1px 3px 1px #b2b1b140;
  background-color: white;
  padding: 10px;
  align-items: center;
  max-width: 380px;
  border-radius: 10px;
}

.match-details {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  grid-column-gap: 10px;
  justify-content: space-between;
}

.fa-heart {
  font-size: 30px;
  color: @color-primary;
}

@media(max-width: 450px) {
  .matches {
    justify-content: center;
  }
}

@media(min-width: 850px) {
  .matches {
    grid-template-columns: repeat(4, auto);
  }
}