@import 'stream-chat-angular/src/assets/styles/v2/scss/index.scss';

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.str-chat__channel-header {
  background-color: #FFB319 !important;
}